#numpy
#scipy
#h5py
#tensorflow
#Keras
Flask
gevent
gunicorn
imutils
requests
#redis
Pillow
Theano
Werkzeug



cffi
cryptography
enum34
Flask-HTTPAuth
httplib2
idna
ipaddress
itsdangerous
Jinja2
MarkupSafe
oauth2client
pyasn1
pyasn1-modules
pycparser
pyOpenSSL
rsa
six
SQLAlchemy
wheel
psycopg2



apscheduler
facebook-sdk
Flask-SQLAlchemy
flask-migrate
flask-bootstrap
#./Py3kAiml-master
psycopg2
#langdetect
goslate
textblob
#py-translate
#mysql-python
mysqlclient
#Cython
#git+git://github.com/kivy/pyjnius.git
Flask-WTF
wtforms_components
